<div id="image">
</div>

<div class="text-center">
   <button class="btn btn-primary" (click)="logFbUser()" >Facebook Login</button>
   <button class="btn btn-primary" (click)="logLiUser()" >LinkedIn Login</button>
</div>
<hr />
<facebook></facebook>
<hr />
<linkedin></linkedin>
<hr />
<div class="checkbox">
  <label><input type="checkbox" [(ngModel)]="authorizeIsActive">J'autorise RainbowData à stocker mes informations</label>
</div>
 <div class="text-center">
  <div *ngIf="!confirmFlag"><button type="button" class="btn btn-primary" (click)="displayConfirmation()">Envoyer mes informations</button></div>
  <div *ngIf="confirmFlag">OK ! Merci pour votre participation</div>
</div>

<br><br>
